body {
    background-color: #051D3B;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 24px 0 0 32px;
}

.logo {
    display: flex;
    width: 24%;
    padding: 0.5rem;
    justify-content: flex-start;
    align-items: center;
}

.logo_img {
    width: 146px;
}

.pesquisar {
    display: flex;
    align-items: center;
    width: 52%;
    
    
}

.label_pesquisa {
    display: none;
}

.barra_pesquisa {
    background-color: rgba(255, 255, 255, 0.16);
    color:#FFFFFF;
    border: none;
    border-radius: 8px;
    position: static;
    width: 95%;
    height: 56px;
    left: 0px;
    top: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.64;
    padding: 0 14px;
}

.label_perfil {
    display: none;
}

.perfil {
    display: flex;
    width: 24%;
    align-items: center;
    justify-content: flex-end;
}

.foto_perfil {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    padding: 5%;
}

p {
    color:#FFFFFF;
    margin-right: 5%;
    padding: 0.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 24px;
    white-space: nowrap;
}

@media (max-width: 767px) {  
    header {
        margin-top: 32px;
    } 

    main{
        flex-wrap: wrap;
    }    

    .logo {
        width: 20%;
    }
    
    .pesquisar {
        width: 70%;
        justify-content: flex-end;
    }
    
    .label_pesquisa {
        display: flex;
    }

    .pesquisa {
        margin-right: 16px;
    }
    
    .barra_pesquisa {
        display: none;
    }

    .label_perfil {
        display: flex;
    }
    
    .perfil {
        width: 10%;
        margin-right: 30px;
    }
    
    .foto_perfil {
        display: none;
    }
    
    p {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    header {
        margin-top: 32px;
    }

    main{
        flex-wrap: wrap;
    }    

    .logo {
        width: 20%;
    }
    
    .pesquisar {
        width: 70%;
        justify-content: flex-end;
        
    }

    .barra_pesquisa {
        width: 90%;
    }
    
    .label_pesquisa {
        display: none;
    }
    
    .label_perfil {
        display: flex;
    }

    .perfil {
        width: 10%;
        margin-right: 46px;
    }
    
    .foto_perfil {
        display: none;
    }
    
    p {
        display: none;
    }
}